.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

body {
    padding-top: 5rem;
    font-family: 'Averta',
        'Helvetica Neue',
        'Open Sans',
        Arial,
        sans-serif;
    color: #223464;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.container {
    width: auto;
    margin: auto;
    padding: 0 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    margin-left: 10%;
    margin-right: 5%;
}

.title-article {
    padding-left: 5%;
    color: #223464;
}

article {
    margin: 5%;
}

div {
    text-align: justify;
}

.title {
    line-height: 1.33;
    font-weight: 300;
    letter-spacing: -.5px;
    font-size: 48px;
}

nav {
    background-color: white;
    font-size: 25px;
}

.lead {
    padding: 0 10%;
}

.list-group-item.active {
    background-color: #223464;
    border-color: #223464;
}

figure {
    text-align: center;
}

.row.vcentered {
    display: flex;
    align-items: center;
}

div.progress {
    margin: 0;
}

h2 {
    margin: 5%;
    text-align: center;
}

h3 {
    margin: 5%;
    text-align: center;
}

@media (min-width: 1200px) {
    .col-xl-offset-2 {
        margin-left: 16%;
    }
}

.experience {
    background-color: rgb(211, 211, 211);
}